@charset "UTF-8";
/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*-------------------------*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Bold.eot") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

html[lang="ru"] [lang="en"] {
  display: none; }

html[lang="en"] [lang="ru"] {
  display: none; }

html {
  font-family: "Proxima Nova"; }

header {
  position: relative;
  z-index: 10; }

nav {
  position: absolute;
  width: 100%; }

.wrapper {
  overflow-x: hidden;
  max-width: 100vw; }

.container {
  padding: 0 18.75%; }

.link_p {
  font-size: calc(14px + calc(16 - 14) * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.4); }

.learn-more-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
  font-size: calc(12px + calc(15 - 12) * ((100vw - 320px) / 1600));
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.2em;
  color: #000; }
  .learn-more-a:before {
    content: "";
    position: absolute;
    width: 3em;
    border: 1px solid #bea67c;
    left: 0;
    bottom: -5px;
    -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .learn-more-a:hover:before {
    width: 8em; }
  .learn-more-a:after {
    content: url("../img/arrow.svg");
    -webkit-filter: invert(72%) sepia(10%) saturate(1122%) hue-rotate(360deg) brightness(93%) contrast(87%);
    filter: invert(72%) sepia(10%) saturate(1122%) hue-rotate(360deg) brightness(93%) contrast(87%);
    position: relative;
    left: 0.5em; }

.heading-h3 {
  position: relative;
  font-size: calc(28px + calc(50 - 28) * ((100vw - 320px) / 1600));
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em; }
  .heading-h3:before {
    content: '';
    position: absolute;
    top: 50%;
    width: calc(50px + calc(150 - 50) * ((100vw - 320px) / 1600));
    margin: 0 0 0 calc(-74px + calc(-180 - -74) * ((100vw - 320px) / 1600));
    border: 1px solid #000; }

.description-p {
  position: relative;
  font-size: calc(12px + calc(15 - 12) * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: 1.667;
  color: #464646; }
  .description-p:before {
    content: '';
    position: absolute;
    width: 3em;
    border: 2px solid #bea67c; }

@-webkit-keyframes glowing-text {
  0% {
    text-shadow: none; }
  50% {
    text-shadow: #fff 0 0 0.25em; }
  100% {
    text-shadow: none; } }

@keyframes glowing-text {
  0% {
    text-shadow: none; }
  50% {
    text-shadow: #fff 0 0 0.25em; }
  100% {
    text-shadow: none; } }

.animation-ltr {
  -webkit-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  transform: translateX(-150px);
  opacity: 0;
  -webkit-transition-property: opacity , -webkit-transform;
  transition-property: opacity , -webkit-transform;
  -o-transition-property: transform , opacity;
  transition-property: transform , opacity;
  transition-property: transform , opacity , -webkit-transform;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s; }
  .animation-ltr.active {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }

.animation-rtl {
  -webkit-transform: translateX(150px);
  -ms-transform: translateX(150px);
  transform: translateX(150px);
  opacity: 0;
  -webkit-transition-property: opacity , -webkit-transform;
  transition-property: opacity , -webkit-transform;
  -o-transition-property: transform , opacity;
  transition-property: transform , opacity;
  transition-property: transform , opacity , -webkit-transform;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s; }
  .animation-rtl.active {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }

.animation-dtt {
  -webkit-transform: translateY(150px);
  -ms-transform: translateY(150px);
  transform: translateY(150px);
  opacity: 0;
  -webkit-transition-property: opacity , -webkit-transform;
  transition-property: opacity , -webkit-transform;
  -o-transition-property: transform , opacity;
  transition-property: transform , opacity;
  transition-property: transform , opacity , -webkit-transform;
  -webkit-transition: ease 0.5s 0.2s;
  -o-transition: ease 0.5s 0.2s;
  transition: ease 0.5s 0.2s; }
  .animation-dtt.active {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px); }

.animation-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition: ease 0.8s 0.2s;
  -o-transition: ease 0.8s 0.2s;
  transition: ease 0.8s 0.2s; }
  .animation-fade.active {
    z-index: 1;
    opacity: 1; }

.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px; }

.nav__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%; }

.nav__burger_body {
  position: relative;
  width: 40px;
  height: 25px;
  border-top: 2px solid #bea67c;
  border-bottom: 2px solid #bea67c;
  cursor: pointer;
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s; }
  .nav__burger_body > div {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 1px solid #bea67c;
    -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s; }
  .nav__burger_body.active {
    width: 7px; }
    .nav__burger_body.active > div {
      width: 10px; }

.nav__burger_p {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  padding-left: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .nav__burger_p:hover {
    color: #bea67c; }

.nav__burger_links {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  transform: translateX(-400px);
  margin-top: 35px;
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s; }
  .nav__burger_links.active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }

.nav__burger_link {
  margin-top: 100px; }
  .nav__burger_link a {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .nav__burger_link a:hover {
      color: #bea67c; }

.nav__center_part {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__logo {
  width: calc(160px + calc(210 - 160) * ((100vw - 320px) / 1600)); }
  .nav__logo > img {
    width: 100%;
    height: 100%; }

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__link {
  position: relative;
  z-index: 10;
  margin-left: calc(50px + calc(100 - 50) * ((100vw - 320px) / 1600)); }
  .nav__link a {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .nav__link a:hover {
      color: #bea67c; }

.nav__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__infotip {
  max-width: 24px;
  min-height: 24px;
  margin-right: 10px; }
  .nav__infotip img {
    width: 100%;
    height: 100%;
    -webkit-filter: invert(1) opacity(0.4);
    filter: invert(1) opacity(0.4);
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease; }
    .nav__infotip img:hover {
      -webkit-filter: invert(76%) sepia(26%) saturate(425%) hue-rotate(360deg) brightness(85%) contrast(86%);
      filter: invert(76%) sepia(26%) saturate(425%) hue-rotate(360deg) brightness(85%) contrast(86%);
      -webkit-transition: 0.3s ease;
      -o-transition: 0.3s ease;
      transition: 0.3s ease; }

.nav__language {
  background: none;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease; }
  .nav__language:hover {
    color: #bea67c; }
  .nav__language option {
    background: #000; }

.section1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh; }

.section1__slider-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.section1__slider-left {
  position: relative;
  height: 95%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #000; }

.section1__slider-left__pagination {
  position: absolute;
  bottom: 50%;
  left: 35%; }

.section1__slider-left__fraction-pagination {
  display: inline-block;
  position: absolute;
  font-size: calc(28px + calc(52 - 28) * ((100vw - 320px) / 1600));
  letter-spacing: 6px;
  font-weight: 700;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #bea67c;
  top: -2em;
  left: -0.63em;
  z-index: 3; }
  .section1__slider-left__fraction-pagination:before {
    content: '';
    position: absolute;
    left: -1.4em;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    height: 1px;
    width: 1em;
    border: 2px solid #bea67c; }

.section1__slider-left__bullets.swiper-pagination.swiper-pagination-bullets {
  display: inline-block;
  top: 70px;
  left: 0;
  width: auto; }
  .section1__slider-left__bullets.swiper-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    width: calc(6px + calc(10 - 6) * ((100vw - 320px) / 1600));
    height: calc(6px + calc(10 - 6) * ((100vw - 320px) / 1600));
    background-color: #bea67c;
    margin-top: 40px; }

.section1__slider-right {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #000; }

.section1__slider-left__slide > img, .section1__slider-right__slide > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-mask-image: url("../img/mask.png");
  mask-image: url("../img/mask.png"); }

.section1__center-part {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-55%, -50%);
  -ms-transform: translate(-55%, -50%);
  transform: translate(-55%, -50%);
  z-index: 1; }
  .section1__center-part > h1 {
    display: inline-block;
    font-size: calc(30px + calc(100 - 30) * ((100vw - 320px) / 1600));
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #bea67c; }
  .section1__center-part > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin: 4em 0;
    color: #fff;
    padding: 1.2em 5.6em;
    border: 2px solid #fff;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s; }
    .section1__center-part > a:before {
      display: none; }
    .section1__center-part > a:after {
      -webkit-transition: ease 0.5s;
      -o-transition: ease 0.5s;
      transition: ease 0.5s;
      -webkit-filter: invert(1);
      filter: invert(1); }
    .section1__center-part > a:hover {
      background: #fff;
      color: #000; }
      .section1__center-part > a:hover:after {
        -webkit-filter: invert(0);
        filter: invert(0); }

.section1__scroll-tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start; }
  .section1__scroll-tip .section1__scroll-img {
    width: 20px;
    height: calc(100px + calc(127 - 100) * ((100vw - 320px) / 1600)); }
    .section1__scroll-tip .section1__scroll-img img {
      width: 100%;
      height: 100%; }
  .section1__scroll-tip > p {
    font-size: calc(12px + calc(15 - 12) * ((100vw - 320px) / 1600));
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    width: 1em;
    height: 1.3em;
    margin-top: 2em;
    color: #fff;
    opacity: 0.2;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: glowing-text 2s ease infinite 10s;
    animation: glowing-text 2s ease infinite 10s; }
    .section1__scroll-tip > p.paused {
      -webkit-animation-play-state: paused;
      animation-play-state: paused; }

.section1__right-part {
  display: block;
  position: absolute;
  right: 20%;
  height: 100%;
  z-index: 1; }
  .section1__right-part > p {
    display: inline-block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    white-space: nowrap;
    font-size: calc(12px + calc(15 - 12) * ((100vw - 320px) / 1600));
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #bea67c;
    opacity: 0.2;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation: glowing-text 2s ease infinite 4.5s;
    animation: glowing-text 2s ease infinite 4.5s; }
  .section1__right-part > span {
    position: absolute;
    display: inline-block;
    bottom: -25px;
    border: 2px solid #bea67c;
    height: 50px; }

.section2__article1 {
  padding-top: 70px; }
  .section2__article1 > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.section2__article1__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding: 0 50px 0 calc(74px + calc(180 - 74) * ((100vw - 320px) / 1600));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start; }

.section2__article1__heading {
  display: inline-block; }
  .section2__article1__heading > span {
    position: absolute;
    font-size: calc(95px + calc(170 - 95) * ((100vw - 320px) / 1600));
    opacity: 0.2;
    color: #d0d0d0;
    right: -7.74em;
    top: 0.2em; }
    .section2__article1__heading > span:before {
      content: 'f';
      position: absolute;
      font-size: calc(224px + calc(400 - 224) * ((100vw - 320px) / 1600));
      width: 100%;
      left: -2.16em;
      top: -1.01em;
      color: #bea67c;
      opacity: 0.35; }

.section2__article1__description {
  margin: 30px 0; }
  .section2__article1__description:before {
    left: -5em;
    top: 0.667em; }

.section2__article1__img {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-box-shadow: 0px 0px 14.56px 1.44px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 14.56px 1.44px rgba(0, 0, 0, 0.25); }
  .section2__article1__img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.section2__article1__fraction {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: calc(22px + calc(38 - 22) * ((100vw - 320px) / 1600));
  font-weight: 700;
  letter-spacing: 0.075em; }
  .section2__article1__fraction > span > span {
    color: #bea67c; }
  .section2__article1__fraction:after {
    content: '';
    position: absolute;
    left: -0.3em;
    top: 4.3em;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    width: 2em;
    border: 2px solid #bea67c; }

.section2__article2 {
  padding-top: 280px; }
  .section2__article2 > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.section2__article2__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding: 0 calc(74px + calc(180 - 74) * ((100vw - 320px) / 1600)) 0 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  text-align: right; }

.section2__article2__heading {
  display: inline-block; }
  .section2__article2__heading:before {
    margin: 0 calc(-74px + calc(-180 - -74) * ((100vw - 320px) / 1600)) 0 0;
    right: 0; }
  .section2__article2__heading > span {
    position: absolute;
    font-size: calc(95px + calc(170 - 95) * ((100vw - 320px) / 1600));
    opacity: 0.2;
    color: #d0d0d0;
    left: -6.8em;
    top: 0.2em; }
    .section2__article2__heading > span:before {
      content: 'd';
      position: absolute;
      font-size: calc(224px + calc(400 - 224) * ((100vw - 320px) / 1600));
      width: 100%;
      right: -2.5em;
      top: -1.05em;
      color: #bea67c;
      opacity: 0.35; }

.section2__article2__description {
  margin: 30px 0; }
  .section2__article2__description:before {
    right: -5em;
    top: 0.667em; }

.section2__article2__img {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-box-shadow: 0px 0px 14.56px 1.44px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 14.56px 1.44px rgba(0, 0, 0, 0.25);
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }
  .section2__article2__img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.section2__article2__fraction {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: calc(22px + calc(38 - 22) * ((100vw - 320px) / 1600));
  font-weight: 700;
  letter-spacing: 0.075em; }
  .section2__article2__fraction > span > span {
    color: #bea67c; }
  .section2__article2__fraction:after {
    content: '';
    position: absolute;
    left: -0.3em;
    top: 3.6em;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
    width: 2em;
    border: 2px solid #bea67c; }

.section2__article3 {
  padding-top: 230px; }
  .section2__article3 > .container {
    padding: 0 23.95833%; }

.section2__article3__text {
  text-align: center;
  padding: 0 20%; }

.section2__article3__heading:before {
  display: none; }

.section2__article3__description {
  color: #636262;
  margin-top: 60px; }
  .section2__article3__description:before {
    left: 50%;
    top: -25px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }

.section2__article3__videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 70px; }

.section2__article3__video {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33%;
  flex: 0 1 33.33%;
  text-align: center; }
  .section2__article3__video:not(.section2__article3__video:first-child) {
    margin-left: 10%; }
  .section2__article3__video:hover > .section2__article3__video-description:before {
    width: 100%; }

.section2__article3__video-wrapper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid transparent;
  outline: 1px solid #e1e1e1;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }
  .section2__article3__video-wrapper:before {
    content: "";
    padding-top: 100%;
    display: block; }
  .section2__article3__video-wrapper.active {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    border: 5px solid transparent; }

.section2__article3__video-item {
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -o-object-fit: cover;
  object-fit: cover; }
  .section2__article3__video-item.active {
    border: 100px solid #000; }

.section2__article3__video-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s; }
  .section2__article3__video-btn > img {
    height: 25%;
    width: 25%;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    transition: ease 0.3s; }
  .section2__article3__video-btn:hover > img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }
  .section2__article3__video-btn.active {
    opacity: 0; }

.section2__article3__video-description {
  position: relative;
  display: inline-block;
  margin-top: 45px;
  font-size: calc(13px + calc(16 - 13) * ((100vw - 320px) / 1600));
  font-weight: 700;
  color: #000; }
  .section2__article3__video-description:before {
    content: '';
    position: absolute;
    top: -25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 30%;
    border: 1px solid #bea67c;
    -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.section3 {
  margin-top: 160px; }

.section3__article1__wrapper {
  position: relative;
  width: 100vw;
  height: 900px;
  max-height: 100vh;
  background: #000;
  z-index: 2;
  overflow: hidden; }

.section3__article1__video {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-mask-image: url("../img/mask.png");
  mask-image: url("../img/mask.png");
  -o-object-fit: fill;
  object-fit: fill;
  -webkit-transition: none;
  -o-transition: none;
  transition: none; }
  .section3__article1__video.activated {
    opacity: 0.3;
    -webkit-mask-image: none;
    mask-image: none; }

.section3__article1__img {
  position: absolute;
  width: 44%;
  height: 90%;
  right: 5%;
  top: 5%; }
  .section3__article1__img .section3__article1__play-img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    visibility: visible; }
    .section3__article1__img .section3__article1__play-img.activated {
      -webkit-transform: scale(5);
      -ms-transform: scale(5);
      transform: scale(5);
      opacity: 0;
      visibility: hidden; }
  .section3__article1__img .section3__article1__pause-img {
    position: absolute;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
    opacity: 0;
    visibility: hidden; }
    .section3__article1__img .section3__article1__pause-img.activated {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      visibility: visible; }

.section3__article1 {
  margin: 8vh 10vw;
  padding: 10vh 35vw 8vh 20vw;
  height: calc(100% - 16vh);
  border: 1px solid #bea67c;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s; }
  .section3__article1.activated {
    margin: 4vh 2vw;
    height: calc(100% - 8vh); }

.section3__article1__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  height: 100%;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s; }
  .section3__article1__text.activated {
    -webkit-transform: translateX(-550px);
    -ms-transform: translateX(-550px);
    transform: translateX(-550px);
    opacity: 0; }

.section3__article1__heading {
  color: #bea67c; }
  .section3__article1__heading:before {
    top: 0.4em;
    border: 1px solid #fff; }

.section3__article1__description {
  color: #fff;
  margin: calc(25px + calc(45 - 25) * ((100vw - 320px) / 1600)) 0 calc(15px + calc(35 - 15) * ((100vw - 320px) / 1600)); }
  .section3__article1__description:before {
    left: -5em;
    top: 0.667em; }

.section3__article1__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #fff;
  padding: 1.2em 4em 1.2em 6em;
  border: 2px solid #fff;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  background: transparent; }
  .section3__article1__btn:before {
    display: none; }
  .section3__article1__btn:after {
    content: url("../img/section3/play.svg");
    position: absolute;
    width: 33.33px;
    height: 33.33px;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    -webkit-filter: invert(1);
    filter: invert(1);
    left: calc(5.4em - 33px); }
  .section3__article1__btn:hover {
    background: #fff;
    color: #000; }
    .section3__article1__btn:hover:after {
      -webkit-filter: invert(0);
      filter: invert(0); }

.section3__article2 {
  padding: 140px 0 125px; }
  .section3__article2 > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.section3__article2__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  padding: 0 50px 0 calc(61px + calc(105 - 61) * ((100vw - 320px) / 1600));
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  text-align: left; }

.section3__article2__heading {
  display: inline-block; }
  .section3__article2__heading > span {
    position: absolute;
    font-size: calc(95px + calc(170 - 95) * ((100vw - 320px) / 1600));
    opacity: 0.2;
    color: #d0d0d0;
    left: -6.6em;
    top: 0; }
    .section3__article2__heading > span:before {
      content: 'a';
      position: absolute;
      font-size: calc(224px + calc(400 - 224) * ((100vw - 320px) / 1600));
      width: 100%;
      right: -3.7em;
      top: -1.2em;
      color: #bea67c;
      opacity: 0.35; }

.section3__article2__description {
  margin: 30px 0; }
  .section3__article2__description:before {
    left: -5em;
    top: 0.667em; }

.section3__article2__img {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  -webkit-box-shadow: 0px 0px 14.56px 1.44px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 14.56px 1.44px rgba(0, 0, 0, 0.25);
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }
  .section3__article2__img > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

footer {
  background: url("../img/footer_bg.png") 0 0/cover no-repeat; }

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 25px 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__copiright {
  font-size: calc(12px + calc(15 - 12) * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: calc(40px + calc(0 - 40) * ((100vw - 320px) / 1600));
  color: #464646; }

.footer__logo {
  width: calc(120px + calc(170 - 120) * ((100vw - 320px) / 1600));
  margin: 0 15px; }
  .footer__logo > img {
    width: 100%;
    height: 100%; }

.footer__designer {
  font-size: calc(12px + calc(15 - 12) * ((100vw - 320px) / 1600));
  font-weight: 400;
  line-height: calc(40px + calc(0 - 40) * ((100vw - 320px) / 1600));
  color: #464646; }
  .footer__designer > a {
    color: #7d7d7d; }

@media (max-width: 1023px) {
  .nav__body {
    padding: 30px 5%; }
  .nav__burger_body {
    width: 30px; }
  .nav__links {
    display: none; }
  .nav__center_part {
    left: calc(50% + 18px); }
  .nav__logo {
    width: calc(135px + calc(210 - 135) * ((100vw - 320px) / 1600)); }
  .nav__infotip {
    display: none; }
  .section1__slider-left {
    height: 100%; }
  .section1__slider-left__pagination {
    left: 90%; }
  .section1__center-part {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .section1__center-part > a {
      padding: 1.2em 3em;
      margin: 4em 0 6em; }
  .section1__right-part {
    display: none; }
  .section2__article1 > .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0 18.75% 0 18.75%; }
  .section2__article1__img {
    margin-top: 90px; }
  .section2__article2 > .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0 18.75% 0 18.75%; }
  .section2__article2__img {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-top: 75px; }
  .section2__article3 > .container {
    padding: 0 18.75% 0 18.75%; }
  .section2__article3__videos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 100px; }
  .section2__article3__video {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 60%;
    flex: 0 1 60%; }
    .section2__article3__video:not(.section2__article3__video:first-child) {
      margin-left: 0;
      margin-top: 120px; }
  .section3__article1 {
    margin: 5vh 6vw;
    padding: 4vh 15vw 4vh 13vw;
    height: calc(100% - 10vh); }
    .section3__article1.activated {
      margin: 3vh 2vw;
      height: calc(100% - 6vh); }
  .section3__article1__text.activated {
    -webkit-transform: translateX(-350px);
    -ms-transform: translateX(-350px);
    transform: translateX(-350px); }
  .section3__article1__btn {
    padding: 1.2em 1.7em 1.2em 5em; }
    .section3__article1__btn:after {
      left: calc(4.4em - 33px); }
  .section3__article2 > .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0 18.75% 0 18.75%; }
  .section3__article2__img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 60px; } }

@media (max-width: 1023px) and (min-aspect-ratio: 1001 / 1000) {
  .nav__burger_link {
    margin-top: 50px; }
  .section1__slider-left__pagination {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }
  .section1__slider-left__fraction-pagination {
    -webkit-transform: rotate(90deg) scale(0.8);
    -ms-transform: rotate(90deg) scale(0.8);
    transform: rotate(90deg) scale(0.8); }
  .section1__center-part > a {
    margin: 0; }
  .section1__center-part > h1 {
    margin-bottom: 1em; }
  .section1__scroll-tip {
    display: none; } }

@media (max-width: 769px) {
  .section2__article1 > .container {
    padding: 0 8.33333% 0 12.5%; }
  .section2__article2 > .container {
    padding: 0 10.41667% 0 8.33333%; }
  .section2__article3 > .container {
    padding: 0 8.33333% 0 8.33333%; }
  .section2__article3__video:not(.section2__article3__video:first-child) {
    margin-top: 90px; }
  .section3__article2 > .container {
    padding: 0 8.33333% 0 8.33333%; } }
